<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.gendoc2.script.acceleo.services">
      <service
            emtl="bin/org/eclipse/papyrus/gendoc2/bundle/acceleo/commons/files/commons.emtl"
            importedByDefault="true"
            name="commons">
      </service>
   </extension>

</plugin>
