<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.gendoc2.documentTypes">
      <documentType
            documentService="org.eclipse.papyrus.gendoc2.services.docx.DOCXDocumentService"
            extension="docx">
      </documentType>
   </extension>

</plugin>
