<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.eclipse.papyrus.gendoc2.processes" name="%extension-point.name" schema="schema/processes.exsd"/>
   <extension
         point="org.eclipse.papyrus.gendoc2.processes">
      <process
            id="countSteps"
            label="Preparing tasks"
            parallel="false"
            priority="NORMAL"
            processor="org.eclipse.papyrus.gendoc2.process.impl.CountStepsProcess">
      </process>
   </extension>
   <extension
         point="org.eclipse.papyrus.gendoc2.serviceTypes">
      <serviceType
            id="ProcessExtensionService"
            interface="org.eclipse.papyrus.gendoc2.process.IProcessExtensionService">
      </serviceType>
   </extension>
   <extension
         point="org.eclipse.papyrus.gendoc2.services">
      <service
            class="org.eclipse.papyrus.gendoc2.process.impl.ProcessExtensionService"
            default="true"
            id="ProcessExtensionService"
            serviceType="ProcessExtensionService">
      </service>
   </extension>

</plugin>
