<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="parameters" name="%extension-point.name" schema="schema/parameters.exsd"/>
   <extension
         point="org.eclipse.papyrus.gendoc2.processes">
      <process
            id="drop"
            label="Removing dropped elements"
            parallel="false"
            priority="NORMAL"
            processor="org.eclipse.papyrus.gendoc2.tags.handlers.impl.post.DropTagProcess">
         <predecessor
               ref="generate">
         </predecessor>
         <successor
               ref="save">
         </successor>
      </process>
      <process
            id="nobr"
            label="Removing line breaks"
            parallel="false"
            priority="NORMAL"
            processor="org.eclipse.papyrus.gendoc2.tags.handlers.impl.post.NobrTagProcess">
         <predecessor
               ref="drop">
         </predecessor>
         <successor
               ref="save">
         </successor>
      </process>
   </extension>
   <extension
         point="org.eclipse.papyrus.gendoc2.serviceTypes">
      <serviceType
            id="ConfigurationService"
            interface="org.eclipse.papyrus.gendoc2.tags.handlers.IConfigurationService">
      </serviceType>
      <serviceType
            id="ContextService"
            interface="org.eclipse.papyrus.gendoc2.tags.handlers.IContextService">
      </serviceType>
      <serviceType
            id="EMFModelLoaderService"
            interface="org.eclipse.papyrus.gendoc2.tags.handlers.IEMFModelLoaderService">
      </serviceType>
      <serviceType
            id="TagHandlerService"
            interface="org.eclipse.papyrus.gendoc2.tags.handlers.ITagHandlerService">
      </serviceType>
   </extension>
   <extension
         point="org.eclipse.papyrus.gendoc2.services">
      <service
            class="org.eclipse.papyrus.gendoc2.tags.handlers.impl.config.ConfigurationService"
            default="true"
            id="ConfigurationService"
            serviceType="ConfigurationService">
      </service>
      <service
            class="org.eclipse.papyrus.gendoc2.tags.handlers.impl.context.ContextService"
            default="true"
            id="ContextService"
            serviceType="ContextService">
      </service>
      <service
            class="org.eclipse.papyrus.gendoc2.tags.handlers.impl.context.EMFModelLoaderService"
            default="true"
            id="EMFModelLoaderService"
            serviceType="EMFModelLoaderService">
      </service>
      <service
            class="org.eclipse.papyrus.gendoc2.tags.handlers.impl.TagHandlerService"
            default="true"
            id="TagHandlerService"
            serviceType="TagHandlerService">
      </service>
   </extension>
   <extension
         point="org.eclipse.papyrus.gendoc2.tags">
      <category
            name="org.eclipse.papyrus.gendoc2.tags.top">
         <tag
               handler="org.eclipse.papyrus.gendoc2.tags.handlers.impl.config.ConfigTagHandler"
               name="config">
            <attribute
                  default="acceleo"
                  name="language"
                  required="false"
                  type="java.lang.String">
            </attribute>
            <attribute
                  default="false"
                  name="runV1"
                  required="false"
                  type="java.lang.Boolean">
            </attribute>
            <attribute
                  name="services"
                  required="false"
                  type="java.lang.String">
            </attribute>
            <attribute
                  default="2"
                  name="version"
                  required="false"
                  type="java.lang.Integer">
            </attribute>
            <tag
                  handler="org.eclipse.papyrus.gendoc2.tags.handlers.impl.config.ImportedDiagramsTagHandler"
                  name="importedDiagrams">
               <attribute
                     name="path"
                     required="true"
                     type="java.lang.String">
               </attribute>
            </tag>
            <tag
                  handler="org.eclipse.papyrus.gendoc2.tags.handlers.impl.config.OutputTagHandler"
                  name="output">
               <attribute
                     name="path"
                     required="true"
                     type="java.lang.String">
               </attribute>
            </tag>
            <tag
                  handler="org.eclipse.papyrus.gendoc2.tags.handlers.impl.config.ParamTagHandler"
                  name="param">
               <attribute
                     name="key"
                     required="false"
                     type="java.lang.String">
               </attribute>
               <attribute
                     name="value"
                     required="true"
                     type="java.lang.String">
               </attribute>
            </tag>
         </tag>
         <tag
               handler="org.eclipse.papyrus.gendoc2.tags.handlers.impl.context.ContextTagHandler"
               name="context">
            <attribute
                  name="element"
                  required="false"
                  type="java.lang.String">
            </attribute>
            <attribute
                  name="importedBundles"
                  required="false"
                  type="java.lang.String">
            </attribute>
            <attribute
                  name="model"
                  required="false"
                  type="java.lang.String">
            </attribute>
            <attribute
                  name="services"
                  required="false"
                  type="java.lang.String">
            </attribute>
         </tag>
         <tag
               handler="org.eclipse.papyrus.gendoc2.tags.handlers.impl.scripts.GendocTagHandler"
               name="gendoc">
            <category
                  name="org.eclipse.papyrus.gendoc2.tags.scripts">
            </category>
            <tag
                  handler="org.eclipse.papyrus.gendoc2.tags.handlers.impl.scripts.IncludeTagHandler"
                  name="include">
               <attribute
                     name="filePath"
                     required="true"
                     type="java.lang.String">
               </attribute>
            </tag>
         </tag>
         <tag
               handler="org.eclipse.papyrus.gendoc2.tags.handlers.impl.post.DropTagHandler"
               name="drop">
         </tag>
         <tag
               handler="org.eclipse.papyrus.gendoc2.tags.handlers.impl.post.NobrTagHandler"
               name="nobr">
         </tag>
         <tag
               handler="org.eclipse.papyrus.gendoc2.tags.handlers.impl.post.DropEmptyTagHandler"
               name="dropEmpty">
            <category
                  name="org.eclipse.papyrus.gendoc2.tags.scripts">
            </category>
         </tag>
      </category>
   </extension>
   <extension
         point="org.eclipse.papyrus.gendoc2.tags">
      <category
            name="org.eclipse.papyrus.gendoc2.tags.scripts">
         <tag
               handler="org.eclipse.papyrus.gendoc2.tags.handlers.impl.scripts.ImageTagHandler"
               name="image">
            <attribute
                  name="filePath"
                  required="false"
                  type="java.lang.String">
            </attribute>
            <attribute
                  name="object"
                  required="false"
                  type="java.lang.String">
            </attribute>
            <attribute
                  default="false"
                  name="keepH"
                  required="false"
                  type="java.lang.Boolean">
            </attribute>
            <attribute
                  default="false"
                  name="keepH"
                  required="false"
                  type="java.lang.Boolean">
            </attribute>
            <attribute
                  default="false"
                  name="maxH"
                  required="false"
                  type="java.lang.Boolean">
            </attribute>
            <attribute
                  default="false"
                  name="maxW"
                  required="false"
                  type="java.lang.Boolean">
            </attribute>
         </tag>
         <tag
               handler="org.eclipse.papyrus.gendoc2.tags.handlers.impl.scripts.ListTagHandler"
               name="list">
            <category
                  name="org.eclipse.papyrus.gendoc2.tags.scripts">
            </category>
         </tag>
         <tag
               handler="org.eclipse.papyrus.gendoc2.tags.handlers.impl.scripts.TableTagHandler"
               name="table">
            <category
                  name="org.eclipse.papyrus.gendoc2.tags.scripts">
            </category>
         </tag>
         <tagref
               name="drop">
         </tagref>
         <tagref
               name="nobr">
         </tagref>
         <tagref
               name="dropEmpty">
         </tagref>
      </category>
   </extension>
   <extension
         point="org.eclipse.papyrus.gendoc2.tags.handlers.parameters">
      <Parameter
            instance="org.eclipse.papyrus.gendoc2.tags.handlers.DefaultParameterValue">
      </Parameter>
   </extension>

</plugin>
